

html
{
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    margin: 0;
}


body
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#nav-bar
{
    height: 10vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30vw;
}


#content
{
    height: 80vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer
{
    height: 10vh;
    width: 100vw;
    background-color: gray;
}

